*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: monospace;
	box-sizing: border-box;
	/*box-sizing: content-box;*/
}
@keyframes mymove {
	0%   {background-color: #7B68EE;}
  	25%  {background-color: #8470FF;}
  	50%  {background-color: #6A5ACD;}
  	100% {background-color: #6495ED;}
  /*from {background-image: url(image/black-and-white-books-education-facts-433333.jpg);}
  to {background-image: url(image/white-headphones-with-books-3394660.jpg); }
*/
}
*{
	background: white;
	animation: mymove 5s infinite;
}
body{
	min-height: 100px;
/*	background-position: all;
	background-image: url(image/black-and-white-books-education-facts-433333.jpg);
	background-size: cover, contain;
	background-repeat: no-repeat;*/
}

.center{
	width: 360px;
	background-color: #f1f1f1;
	height: 580px;
	padding: 80px 10px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50px);
}

.center h1{
	text-align: center;
	margin-bottom:60px;
}
.center form{
	padding: 0 40px;
}
form .txt_field{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
}
.txt_field input{
	width: 100%;
	padding: 0 5px;
	border: none;
	background: none;
	color: #333;
	outline: none;*/
	height: 40%;
	font-size: 15px;

}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 15px;
	pointer-events: none;
	transition: .5s;

}
.txt_field span::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -6px;
	color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
	width: 100%; /*making tphe long line totally colored*/
}
.pass{
	margin: -5px 0 20px 5px;
	color: #adadad;
	cursor: pointer;
	text-align: center;
}
.pass:hover{
	text-decoration: underline;
}
input[type="submit"]{
	width: 100%;
	height: 50px;
	border: none;
	border: 1px solid;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	color: #C0C0C0;
	font-weight: 700;
	background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
	transition: .5s;
}
input[type="submit"]:hover{
	font-size: 16px;
	background: linear-gradient(120deg, #3498db, #8e44ad, 120deg, #3498db);
	transition: .5s;
}
.signup_link{
	text-align: center;
	margin: 40px 0;
	font-size: 16px;
	color: rgba(30,40,50);
}
.signup_link a{
	font-family: monstrate;
	font-size: 17px;
	font-style: inherit;
}
.signup_link a:hover{
	text-decoration: underline;
}
.center p.remember_me {
  float: left;
  line-height: 25px;
  color: #777;
  cursor: pointer;
}
 
.center p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
 
.center p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
  cursor: pointer;
}
